.Main-Div{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;
    min-height: 40rem;
    height: 100%;
}

.Top-Div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
    margin-bottom: 2rem;
}

.Styled-Label{
    font-weight:500;
    margin: 0;
    color: #959ba4;
    font-family: poppins;
}

.Mid-Div{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    font-family: poppins;
}

.Profile-Img{
    width: 50px;
    height: 50px;
    
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    transition: all 0.4s ease;
    max-height: 10rem;
    object-fit:contain;
    object-position: center;
    display: block;   
}