.Main-Div{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    width: 2rem;
    padding: 2%;
    height: 50%;
    border-radius: 10%;
}
.CheckBox-Input {
  -moz-appearance: none;    /* Firefox */
  width: 0.7rem;
  height: 0.7rem;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: absolute;
  transform: translate(-80% , -80%);
  transition: background-color 0.2s, border 0.2s;
}

.CheckBox-Input:checked {
  background-color: #19cabb;
  border: 2px solid #19cabb;
}
.Checker-Logo{
    height: 1.3rem;
    width: 1.3rem;
    color: rgb(0, 0, 0);
    position: absolute;
    transform:translate(75% ,-10%);
}
.Checker-Lbl{
    font-size: x-small;
}