:root {
  --animationTime: 0.8s;
  --dotSize: 0.6rem;
}

.loader {
  text-align: center;   
  height: 1rem; 
}

.loader span {
  display: inline-block;
  vertical-align: middle;
  width: var(--dotSize);
  height: var(--dotSize);
  margin: 0 1px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  animation: loader var(--animationTime) infinite alternate;
}

.loader span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
  animation-delay: 0.6s;
}

@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.3);
  }
  100% {
    opacity: 0.7;
    transform: scale(1);
  }
}
