.Main-Div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
}
.LoginPage-Btn{
    border-radius: 3px;
    margin-left: 4rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.1rem;
    background-color: none;
    transition: all 0.2s ease-in-out;

}
.SignUpPage-Btn{
    border-radius: 3px;
    margin-left: 4rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.1rem;
    background-color: none;
    transition: all 0.2s ease-in-out;
}

.LoginPage-Btn:active{
    border: solid 1px rgb(255, 219, 185);
}
.LoginPage-Btn:hover{
    border: none;
}