.Main-Div{
    margin-top: 2rem;
    margin-left: 2rem;
}
.Top-Div{
    display: flex;
    font-size: large;
    
}



.ImageEdit-Div{
    display: flex;
    align-items: center;
    justify-content: start;
    position:relative;  
    width: 100%;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
}

.ImageUpload-Button{
    opacity: 0;
    position: absolute;
    padding: 0.1rem;
    height: 1.5rem;
    background-color: transparent;
    width: 3rem;
    border-radius: 20px;
    cursor: pointer;
    
}

.ImageEdit-Div:hover .Profile-Img{
    opacity: 5%;
}

.ImageEdit-Div:hover .ImageUpload-Button{
    opacity: 100%;
}
.Profile-Div{
    border-radius: 50%;
}

.Special-Label{
    font-size: x-large;
    color: rgb(255, 255, 255);
    letter-spacing: 0.05rem;

}

.Special-Label::first-letter {
  color: rgb(44, 113, 118);  
  font-weight: bold;
}

.Profile-Img{
    width: 50px;
    height: 50px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    transition: all 0.4s ease;
    max-height: 10rem;
    object-fit:contain;
    object-position: center;
    display: block;   
}
.UserName-Lbl{
    font-size:small;
    font-family: poppins;
}

.Mid-Div{
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.Organization-Div{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.VerticalAlign{
    display: flex;
    flex-direction: column;

}

.HorizontalAlign{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
