#label{
    margin: 0;
}

.Main-Div{
    height: 100%;
    width: fit-content;
    border: solid 1px rgba(104, 104, 104, 0.562);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(39, 37, 37, 0.418);
    background-color: #0F1720;
}

.TableInfo-Div{
    display: flex;
    align-items: center;
    margin-left: 1.3rem;   
    height: 3rem;
    gap: 0.5rem;
}
.Header-Div {
  display: grid;
  flex-wrap: wrap; /* this enables wrapping */
  gap: 2rem;
  min-height: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 100%; 
  font-weight: 500;
  word-break: break-word; 
  box-shadow: inset 0 0 10px rgba(39, 37, 37, 0.418);
  min-width: 5rem;
  border-bottom: solid 1px rgb(80, 76, 76);
  justify-content: flex-start;
  align-items: center;
}

.Column-Div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Sort-Div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Row-Div{
    display: grid;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 5rem;
    word-break: break-word; 
    min-height: 4rem;
    align-items: center;
    gap: 2rem;
    border-bottom: solid 1px rgb(80, 76, 76);
}
.Body-Div{
    display: flex;
    flex-direction: column;   
    width: 100%;  
    word-break: break-word; 
    overflow: scroll;
}

.Cell-Div{
    display: flex;
    justify-content: center;
    text-overflow: ellipsis;
    flex-direction: row;   
    word-break: break-word; 
    align-items: center;
    flex-wrap: wrap;
    min-width: 80px;
}

.Cell-Div:hover{


}

.TableInfo-Div{
    display: flex;
    position:relative;

}
.Wrap-Label{
    min-width: 80px;
    white-space: normal;     
    word-wrap: break-word;   
    overflow-wrap: break-word;
}

.Bottom-Div{
    right: 0;
    justify-self: flex-end;
    padding: 0.2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: fit-content;
    border-radius: 5px;

}

.Table-Div{
    display: flex;
    max-height: fit-content;
    background-color: #0F1720;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    height: 100%;
    position: relative;
    overflow: scroll;
}

.Table{
    
}

.Table-Head th {
    position: sticky;
    top: 0;
    background-color: #0F1720; 
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.296);
}
.Table-Body{

}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #413c3c;
}
