.Main-Div{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;
    min-height: 40rem;
    height: 100%;
}
.Form-Div{
    display: flex;
    background-color:#303232;
    border:1px solid #ffffff81;
    z-index: 2;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 1rem;
    height:max-content;
    border-radius: 20px;
    transition: all 0.3s ease;
    width: max-content;
    overflow: hidden;
}
.Top-Div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
    margin-bottom: 2rem;
}

.Styled-Label{
    font-weight:500;
    margin: 0;
    color: #959ba4;
    font-family: poppins;
}

.Action-Button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(62, 76, 98, 0.358);
    padding: 0.4rem;
    border-radius: 6px;
    margin-right: 0.2rem;
    border: 1px solid rgba(138, 136, 132, 0.397);
    margin-left: 0.2rem;
    transition: all 0.3s ease;
}

.Action-Button:hover{
    border: 1px solid rgba(138, 136, 132, 0.397);
    transform: scale(1.03);
}

.Action-Button:active{
    
    transform: scale(0.93);
}

.Graph-Div{
    display: grid;
    grid-template-columns:auto auto;
    justify-content: space-around;
    grid-auto-rows: max-content;
    grid-auto-columns: max-content;
    gap: 0.5rem;
    background-color: #959ba415;
    padding: 1rem;
    border-radius: 20px;
}

.Dial-Div{
    position: absolute;
    right:0 ; 
    bottom:0;
    transform: translateY(-5rem);
}

.Dial-Button{
    position: sticky;
    right: 0;
}