.Main-Div{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;
    min-height: 40rem;
    height: 100%;
}
.Form-Div{
    display: flex;
    background-color:#303232;
    border:1px solid #ffffff81;
    z-index: 2;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 1rem;
    height:max-content;
    border-radius: 20px;
    transition: all 0.3s ease;
    width: max-content;
    overflow: hidden;
}
.Top-Div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
    margin-bottom: 2rem;
}

.Styled-Label{
    font-weight:500;
    margin: 0;
    color: #959ba4;
    font-family: poppins;
}