.Main-Div{
    position:relative;
}
.Top-Div{
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
    z-index: 3;
}
.OrgData-Div{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.Top-Div2{
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
    z-index: 3;
}