.Main-Div{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 90vh;
}
.PageSelect-Div{
    display: flex;
    align-self: flex-end;
}
.Logo{
    font-size: large;
}
.PageTab-Div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.Form-Div{
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: all 0.3s ease;
    width: 60%;
    height: max-content;
    overflow-y: hidden;
}

.Top-Div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.Styled-Label{
    font-weight:500;
    margin: 0;
    color: #959ba4;
    font-family: poppins;
}

.Styled-Label::first-letter{
    color: #9f9f9f;
    font-weight: bolder;
}
.Action-Div{
    display: flex;
    flex-direction: row;
    margin-top:1rem;
}

.Action-Button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(62, 76, 98, 0.358);
    padding: 0.4rem;
    border-radius: 6px;
    margin-right: 0.2rem;
    border: 1px solid rgba(138, 136, 132, 0.397);
    margin-left: 0.2rem;
    transition: all 0.3s ease;

}
.Action-Button:hover{
    border: 1px solid rgba(138, 136, 132, 0.397);
    transform: scale(1.03);
}

.Action-Button:active{
    
    transform: scale(0.93);
}

.Table-Div{
    display: flex;
    margin-top: 3rem;
    background-color: #0F1720;
    border: 1px solid rgba(117, 111, 111, 0.247);
    padding: 1rem;
    border-radius: 20px;
    overflow-y: scroll;
}

.Table{
    
}

.Table-Head{
    border: none;
    position: sticky;
    border-bottom: 1px solid white;
}
.Table-Body{
    
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #413c3c;
}

.Summary-Div{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.Footer-Div{
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end; 
    width: 100%;
}

.AddOrder-Div{
    opacity: 0;
    animation: FadeIn 0.4s ease-out forwards;
}


.Mid-Div{
    
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    gap: 5rem;
}
/* .OpenOrders-Div{
    height: 30%;
} */
.HistoryOrders-Div{
    margin-top: 1rem;
    height: 100%;
}


@keyframes FadeIn {
  to {
    opacity: 1;
  }
}

