.Main-Div{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;
    min-height: 40rem;
    height: 100%;
}
.Form-Div{
    display: flex;
    background-color:#303232;
    border:1px solid #ffffff81;
    z-index: 2;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 1rem;
    height:max-content;
    border-radius: 20px;
    transition: all 0.3s ease;
    width: max-content;
    overflow: hidden;
}
.Top-Div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
    margin-bottom: 2rem;
}

.Styled-Label{
    font-weight:500;
    margin: 0;
    color: #959ba4;
    font-family: poppins;
}
.Mid-Div{
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    background-color: rgba(17, 27, 41, 0.515);
    font-family: poppins;
}
.Heading-Div{
    width: 100%;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.Styled-Label{
    margin: 0   ;
}
.DropDown-Div{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.DDHeading-Div{
    padding: 1rem;
    box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.515);
    border-radius: 10px;
    
    align-items: center;
    display: flex;
}
.DDContent-Div {
  display: grid;
  margin-top: 0.5rem;
  box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.233);
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
  transition: grid-template-rows 0.3s ease;
}

.DDContent-Div > div {
    overflow: hidden;
}

.Architecture-Image{
    width: 100%;
    height: 30rem;
    object-fit:contain;
    object-position: center;
}
.Action-Button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: self-end;
    justify-self: flex-end;
    margin-left: 1rem;
    gap: 0.2rem;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(62, 76, 98, 0.358);
    padding: 0.4rem;
    border-radius: 6px;
    border: 1px solid rgba(138, 136, 132, 0.397);
    transition: all 0.3s ease;
}
.Action-Button:hover{
    border: 1px solid rgba(138, 136, 132, 0.397);
    transform: scale(1.03) translateX(-1rem);;
}

.Action-Button:active{
    
    transform: scale(0.93) translateX(-1rem);
}
