<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invitation</title>
</head>
<body>
    <div style="display: flex;flex-direction:column; font-family: poppins;background-color: rgb(181, 181, 181);padding: 1rem;">
        <div style= "padding-top:2.5rem;border-radius: 10px;">
            <h1 style="">E-Nventory</h1>
        <h2>Greetings {Email},</h2>
        <label>You have been invited to join {Organization} organization in E-Nventory app (A smart online Inventory Manager tool)</label>
        <br />
        <br />
        <label>Please visit our site via {URL} and enter the below mentioned code in reffereal page</label>
        </div>
        
        <div style="display: flex; align-items: center; justify-content: center;margin-top: 5rem;font-size:large;font-weight: 600;">
            <label style="background-color: rgb(0, 0, 0);padding: 2rem; border-radius: 20px;color: aliceblue;">
                {0}  {1}  {2}  {3}  {4}  {5}
            </label>
        </div>
        <div style="display: flex; align-items: center; justify-content: center;margin-top: 5rem;font-size:large;font-weight: 600;">
        </div>
        <div>
                <label>
                Looking forward to meet you online ....!
                </label>
                <br />
                <br />
                <br />
                <br />
                <label style="font-weight: 800;">
                    Regards,
                </label>
                <br />
                    E-Nventory Team
            
            </div>
    </div>
    
</body>
</html>