<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
</head>
<body>
    <div style="display: flex; 
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                flex-direction: column;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                background-color: rgba(25, 123, 176, 0.814);">
        
        <div class="top-Div" 
             style="display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-top: 1rem;
                    background-color: beige;
                    padding-left: 3rem;
                    padding-right: 3rem;">
                
            <div 
                style="display: flex;
                       flex-direction: row;
                       align-items: center;
                       padding: 0.5rem;
                       gap: 1rem;
                       ">
                <img src="./src/CargoLogo.jpg"
                          style="width: 4rem;
                                 height: 4rem;
                                 mix-blend-mode: multiply;
                                 ">
                <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;
                          font-weight: 600;
                          color: brown;">Stockify</p>
            </div>
            <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;
                          font-weight: 600;
                          color: brown;">{CurrentDate}</p>
        </div>
        <p style="">One Time Password</p>
        <div class="otpMain-Div" style="display:flex ;
                                        flex-direction: column;
                                        justify-content: start;
                                        width: 100%;
                                        margin-top: 5rem;">
            
            <div class="text-Div" style="display: flex;
                                         flex-direction: row;
                                         justify-content: start;">
                <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;
                          color: rgb(254, 254, 254);
                          font-size: smaller;">
                    Hello {UserName},
                        <br>
                        &nbsp;
                </p>
            </div>
            <div class="otp-Div">

            </div>
    </div>  
    </div>
     
</body>
</html>