.Main-Div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #272b34;
    border-bottom: solid 1px rgba(0, 22, 45, 0.305);
    padding-left: 1rem;
    position:sticky;
    top:0;
    z-index: 5;
}

.User-Div{
    display: flex;
    place-items: end;
    right: 0;
    margin-right: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.619);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    gap:0.5rem;
    border-radius: 6px;
    padding-bottom: 0.5rem;
    transition: all 0.5s ease;
}

.TopLeft-Div{
    box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.422);
}

.User-Div:active{
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.619);
}

.Profile-Div{
    border-radius: 50%;
}

.Special-Label{
    font-size: x-large;
    color: rgb(255, 255, 255);
    letter-spacing: 0.05rem;

}

.Special-Label::first-letter {
  color: rgb(44, 113, 118);  
  font-weight: bold;
}

.Profile-Img{
    width: 30px;
    height: 30px;
}
.UserName-Lbl{
    font-size: x-small;
}

.VerticalAlign{
    display: flex;
    flex-direction: column;

}

.HorizontalAlign{
    display: flex;
    flex-direction: row;
    justify-content: center;

}